@import 'vars.scss';

body {
    font-family: 'Stalinist One', cursive;
    line-height: 1.1;

    background: $mainBackColor;
}

canvas {
    border: 5px solid #9e001e;
}

#countdown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    padding-top: 20vh;

    transition: .2s;
    text-align: center;

    span {
        font-size: 250px;

        transform-origin: center;

        color: white;
    }
}
.showWrapper {
    display: block !important;

    background: rgba(0,0,0,.8);
}
.countdownWrapperAnim {
    animation: countdownSpanMinify .5s forwards;
}
@keyframes countdownSpanMinify {
    0% {
        color: white;
    }
    100% {
        font-size: 100px;

        color: #9e001e;
    }
}

#gameOver {
    font-size: 50px;
    line-height: 1.5;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    padding-top: 25vh;

    cursor: pointer;
    transition: .2s;
    text-align: center;

    color: white;

    span {
        white-space: pre-line;
    }
    span#contSpan {
        animation: blinkingShadow 1s alternate infinite;
    }
}

@keyframes blinkingShadow {
    from {
        text-shadow: 2px 2px 5px white;
    }
    to {
        text-shadow: 2px 2px 14px white;
    }
}

.inactiveGame {
    canvas {
        opacity: .3;
    }
}
#firstGameContainer.inactiveGame {
    box-shadow: inset -270px 0 170px 65px rgba(0,0,0, .85);
}
#secondGameContainer.inactiveGame {
    box-shadow: inset 270px 0 170px 65px rgba(0,0,0, .85);
}

#firstGameContainer {
    box-shadow: inset -150px 0 170px 30px rgba(253, 150, 150, .85);
}
#secondGameContainer {
    box-shadow: inset 150px 0 170px 30px rgba(253, 150, 150, .85);
}


.screen {
    display: flex;

    width: 100%;
    height: 100vh;

    border-bottom: 5px solid $subColor;

    justify-content: space-between;
}

.gameContainer {
    transition: .25s;
}
#controlPanel {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: center;
}
.controls {
    font-family: inherit;
    font-size: 25px;

    height: 50px;
    margin-bottom: 25px;

    cursor: pointer;
    transition: .3s;

    border: none;
    background: $mainBackColor;
    text-shadow: 2px 2px 7px black;
}


.scoreBoard {
    font-size: 75px;

    text-align: center;

    color: #e8e8e8;
    border-top: 1px solid $mainBackColor;
    border-bottom: 1px solid $mainBackColor;
}

.controls:disabled,
.controls[disabled] {
    cursor: not-allowed;

    opacity: .7;
}


#controlKeys {
    font-size: 75px;
    font-weight: bold;

    position: absolute;
    z-index: 1000;
    bottom: 40px;

    display: none;

    width: 150%;
    padding: 15px;

    transition: .3s;
    transform: translate(-17%, 0) perspective(250px) rotateX(35deg);

    opacity: .6;
    border: 2px solid $subColor;
    background: $mainBackColor;

    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;

    span {
        padding: 10px;

        transition: .2s;

        border: 3px solid $subColor;
    }

    &.visible {
        display: flex;
    }
}
#controlKeys.activeKeyBoard {
    transform: translate(-17%, -10%) perspective(250px) rotateX(40deg);
    animation: flyingKeyObject 5s infinite .3s;

    opacity: 1;
}
@keyframes flyingKeyObject {
    0% {
        transform: translate(-17%, -10%) perspective(250px) rotateX(40deg);
    }
    50% {
        transform: translate(-17%, -18%) perspective(250px) rotateX(40deg);
    }
    100% {
        transform: translate(-17%, -10%) perspective(250px) rotateX(40deg);
    }
}

#wButton {
    display: flex;

    width: 100%;
    margin-bottom: 15px;

    justify-content: center;
}
.activatedControlKey {
    transform: translateY(-5px);

    color: $mainBackColor;
    background: $red;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,.7);
}



.middleLine {
    width: 15%;

    border-right: 1px solid $subColor;
    border-left: 1px solid $subColor;
    background: #9e001e;
    box-shadow: 0 0 25px 0 black;
}
#settings {
    position: relative;
}
#settingsContainer {
    /* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}
.contentBox {
    display: flex;
    flex-direction: column;

    width: 42.5%;

    align-items: center;
    justify-content: center;
}

.settingsLine {
    display: flex;
    flex-direction: column;
    //border: 1px solid crimson;

    margin: 25px 0;

    align-items: center;
}
.contentWrapper {
    width: 85%;

    border: 2px solid crimson;
}

.radioButtons {
    display: flex;

    user-select: none;

    justify-content: center;
}
.radioButton {
    display: none;
    & + label {
        display: block;

        padding: 5px 15px;

        cursor: pointer;

        border: 2px solid crimson;
    }
    &:checked + label {
        color: $mainBackColor;
        background: crimson;
    }
}


.slider {
    font-family: inherit;

    position: relative;

    width: 80%;
    height: 20px;

    transition: .2s;

    outline: none;
    background: crimson;

    -webkit-appearance: none;
            appearance: none;
    &:before {
        position: absolute;
        top: 0;
        right: 101%;

        content: attr(min);

        color: black;
    }
    &:after {
        position: absolute;
        top: 0;
        left: 101%;

        content: attr(max);

        color: black;
    }
}
.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;

    cursor: pointer;
    transition: .2s;

    background: #4caf50;

    -webkit-appearance: none;
            appearance: none;
    &:active {
        box-shadow: 0 0 10px 2px rgba(0,0,0,.7);
    }
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    cursor: pointer;
    transition: .2s;

    background: #4caf50;
    &:active {
        box-shadow: 0 0 10px 2px rgba(0,0,0,.7);
    }
}

//rtl, since max (500) is actually the slowest setting, hence should be at the beginning
#speedSlider {
    direction: rtl;
    &:before {
        top: 25px;
        right: 10px;

        content: 'Faster';
    }
    &:after {
        top: 25px;
        left: 10px;

        content: 'Slower';
    }
}

#stepsSlider {
    &:before {
        top: 25px;
        right: 10px;

        content: 'More';
    }
    &:after {
        top: 25px;
        left: 10px;

        content: 'Less';
    }
}

#aboutGameInfo {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 50%;

    transition: opacity .3s, width .4s .5s, box-shadow .7s .5s;
    transform: translateX(-50%);

    opacity: 0;
}
#aboutGameInfo.active {
    width: 25%;

    opacity: 1;
    box-shadow: 0 0 70px 30px black;
}
#showInfoCloseButton {
    font-size: 25px;

    position: absolute;
    top: 10px;
    right: 10px;

    padding: 10px;

    cursor: pointer;

    background: $mainBackColor;
}
.middleWithText {
    padding: 15px;
    padding-top: 30px;
    p {
        margin-bottom: 10px;

        text-indent: 25px;
    }
}

.infoSectionWrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
}
.showInfoButton {
    position: relative;

    overflow: hidden;

    width: 40%;
    height: 50px;
    margin: 10px;
    padding: 5px;
    padding-left: 45px;

    cursor: pointer;
    transition: .3s;

    border: 2px solid crimson;
    background-repeat: no-repeat;
    background-position: center left 5px;
    &:after {
        position: absolute;
        z-index: -100;
        top: 0;
        right: -40px;

        width: 100%;
        height: 100%;

        content: '';
        transition: .3s;

        background-color: crimson;
    }
    &:hover:after {
        right: 0;
    }
    &:hover {
        color: $mainBackColor;
    }
}
#aboutGameInfoTextContent {
    margin-top: 30px;
}

//Icons?
/* .showInfoButton.abtBtn {
	background-image: url(../images/about-32.png);
} */
