@import "vars.scss";

#firstSnakeField {
	border: 1px solid red;
}
#secondSnakeField {
	border: 1px solid red;
}

#countdown {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding-top: 20vh;
	transition: 0.2s;
	display: none;
	
	span {
		font-size: 250px;
		color: white;
		
		transform-origin: center;
	}
}
.showWrapper {
	display: block !important;
	background: rgba(0,0,0,0.8);
}
.countdownWrapperAnim {
	animation: countdownSpanMinify 0.5s forwards;
}

@keyframes countdownSpanMinify {
	0% {
		color: white;
	} 
	100% {
		color: crimson;
		font-size: 100px;
	}
}

#gameOver {
	display: none;
	font-size: 50px;
	color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: 0.2s;
	padding-top: 20vh;
	text-align: center;
}

.inactiveGame {
	border: 5px solid red;
}

.screen {
	height: 100vh;
	width: 100vw;

	border: 1px solid red;

	display: flex;
	justify-content: space-between;
}

.gameContainer {
	width: 45%;
	border: 1px solid black;
}
#controllPanel {
	border: 1px solid red;
	width: 10%;
}