//colors///////////////////////////////////////////
$mainBackColor: #c1c1c1;
$subColor: #636363;
$red: #9e001e;

h2.comTitle {
	font-size: 40px;
}

h3.comTitle {
	font-size: 25px;
	text-align: center;

	margin-bottom: 15px;
}