h1 {
  color: black;
  font-family: font;
  font-size: 2rem; }

h2.comTitle {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comDscr {
  color: black;
  font-family: font;
  font-size: 2rem; }

p.comP {
  color: black;
  font-family: font;
  font-size: 2rem; }

a.comButton {
  height: 55px;
  line-height: 55px;
  background: transparent;
  border: 3px solid red;
  display: inline-block;
  padding: 0 36px;
  font-family: "Arial";
  color: red;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.8rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }

body {
  color: black;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif; }

.container {
  margin: 0 auto;
  width: 1200px; }

#firstSnakeField {
  border: 1px solid red;
  margin: 100px; }

#secondSnakeField {
  border: 1px solid red; }

#countdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20vh;
  transition: 0.2s;
  display: none; }
  #countdown span {
    font-size: 250px;
    color: white;
    transform-origin: center; }

.showCountdown {
  display: block !important;
  background: rgba(0, 0, 0, 0.8); }

.countdownWrapperAnim {
  animation: countdownSpanMinify 0.5s forwards; }

@keyframes countdownSpanMinify {
  0% {
    color: white; }
  100% {
    color: crimson;
    font-size: 100px; } }
