body {
  background: #c1c1c1;
  font-family: 'Stalinist One', cursive; }

#firstSnakeField {
  border: 5px solid #9e001e; }

#secondSnakeField {
  border: 5px solid #9e001e; }

#countdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 20vh;
  transition: 0.2s;
  display: none; }
  #countdown span {
    font-size: 250px;
    color: white;
    transform-origin: center; }

.showWrapper {
  display: block !important;
  background: rgba(0, 0, 0, 0.8); }

.countdownWrapperAnim {
  animation: countdownSpanMinify 0.5s forwards; }

@keyframes countdownSpanMinify {
  0% {
    color: white; }
  100% {
    color: #9e001e;
    font-size: 100px; } }

#gameOver {
  display: none;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.2s;
  padding-top: 20vh;
  text-align: center; }

.inactiveGame canvas {
  opacity: 0.3; }

#firstGameContainer.inactiveGame {
  box-shadow: inset -270px 0px 170px 65px rgba(0, 0, 0, 0.85); }

#secondGameContainer.inactiveGame {
  box-shadow: inset 270px 0px 170px 65px rgba(0, 0, 0, 0.85); }

#firstGameContainer {
  box-shadow: inset -150px 0px 170px 30px rgba(253, 150, 150, 0.85); }

#secondGameContainer {
  box-shadow: inset 150px 0px 170px 30px rgba(253, 150, 150, 0.85); }

.screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #636363; }

.gameContainer {
  transition: 0.25s;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#controllPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.controls {
  height: 50px;
  margin-bottom: 25px;
  transition: 0.3s;
  font-size: 25px;
  background: #c1c1c1;
  border: none;
  cursor: pointer;
  font-family: inherit; }

.scoreBoard {
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
  font-size: 75px;
  color: #e8e8e8; }

.controls:disabled,
.controls[disabled] {
  cursor: not-allowed;
  opacity: 0.7; }

#controlKeys {
  display: flex;
  position: absolute;
  width: 150%;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 75px;
  transform: translate(-17%, 0) perspective(250px) rotateX(35deg);
  font-weight: bold;
  bottom: 40px;
  padding: 15px;
  background: #c1c1c1;
  border: 2px solid #636363;
  z-index: 1000; }
  #controlKeys span {
    border: 2px solid #636363;
    padding: 10px;
    position: relative;
    transition: 0.2s; }

#wButton {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center; }

.activatedControlKey {
  bottom: -5px;
  transform: perspective(200px) rotateX(10deg);
  border: 2px solid blue; }

.contentBox {
  width: 42.5%; }

.middleLine {
  border-right: 1px solid #636363;
  border-left: 1px solid #636363;
  width: 15%;
  background: #9e001e; }
